<!-- <mat-card>
    <div class="toolbar">
        <b><span>Manage Tasks</span></b>
        <span class="spacer"></span>
        <button mat-raised-button (click)="handleAddAction()">
            <mat-icon>add_circle</mat-icon> Task
        </button>
    </div>
</mat-card> -->

<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span> Manage Tasks</span>
        <span class="spacer"></span>
        <button mat-raised-button (click)="handleAddAction()">
            <mat-icon>add_circle</mat-icon> Task
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<hr />
<mat-card>
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyfilter($event)" #input />
    </mat-form-field>
</mat-card>
<hr />
<div class="responsive-table">
    <table mat-table [dataSource]="dataSource" class="mat-cell">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="taskName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
        </ng-container>

        <ng-container matColumnDef="invited">
            <th mat-header-cell *matHeaderCellDef>Invites</th>
            <td mat-cell *matCellDef="let element">{{ element.invited }}</td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
            <th mat-header-cell *matHeaderCellDef>Assigned To</th>
            <td mat-cell *matCellDef="let element">{{ element.assignedTo }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <!-- <button mat-icon-button matTooltip="More Actions" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button> -->
                <button mat-icon-button (click)="handleEditAction(element)" class="visibility-icon">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="handleDeleteAction(element)" class="delete-icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <!-- <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="handleEditAction(element)" matTooltip="View Task">
                        <mat-icon style="color: #3f51b5">visibility</mat-icon>
                    </button>
                    <button mat-menu-item matTooltip="Assign Task">
                        <mat-icon style="color: #3f51b5">person_add</mat-icon>
                    </button>
                    <button mat-menu-item (click)="handleDeleteAction(element)" matTooltip="Delete Task">
                        <mat-icon style="color: red;">delete</mat-icon>
                    </button>
                </mat-menu> -->

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Add your paginator here -->
    <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>