@use "@angular/material" as mat;
@use "./theme-colors" as theme;

@use "bootstrap/scss/bootstrap" as *;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$my-theme: mat.define-theme(
  (
    color: (
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
  )
);

:root {
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.all-component-themes($my-theme);
  @include mat.typography-hierarchy($my-theme);

  @include mat.button-overrides(
    (
      protected-container-color: mat.get-theme-color($my-theme, primary, 50),
      protected-label-text-color: white,
      protected-container-shape: 8px,
    )
  );
  @include mat.stepper-overrides((
    header-hover-state-layer-color: transparent,
    header-focus-state-layer-color: transparent,
  ));

  @include mat.dialog-overrides((
    container-shape: 0.5rem,
    container-max-width: 840px,
  ));

  @include mat.form-field-overrides((
    filled-container-color: transparent,
  ));

  @include mat.select-overrides((
    panel-background-color: #ffffff,
  ));

  @include mat.card-overrides((
    elevated-container-color: white,
  ));

  @include mat.list-overrides((
    list-item-focus-state-layer-color: transparent,
    list-item-hover-state-layer-color: transparent,
    active-indicator-shape: 0.5rem,
    
  ));

  @include mat.datepicker-overrides((
    calendar-container-shape: 0.5rem,
    calendar-container-background-color: white
  ));

  @include mat.tooltip-overrides((
    container-color: #92625f,
  ));
  
}

.mat-mdc-snack-bar-container.snackbar-success {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: green;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-danger {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snackbar-warning {
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-container-color: #cf642a;
  --mdc-snackbar-supporting-text-color: #fff;
}
