<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>{{ dialogData.action }} {{ type }} reqquirements</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <mat-dialog-content>
        <form [formGroup]="addForm">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Requirement</mat-label>
                <input matInput formControlName="requirement" placeholder="e.g. Phone Number" />
                <mat-error *ngIf="addForm.get('requirement')?.hasError('required')">
                    Requirement is required
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!(addForm.valid && addForm.dirty)" (click)="handleSubmit()">
        <mat-icon>add_circle</mat-icon>{{action}}
    </button>
</mat-dialog-actions>